@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

header {
    padding: 50px 240px;
    background-color: rgba(255, 144, 14, 0.10);
    height: 1250px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h3 {
    color: var(--dark-01, #131313);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.nav>ul {
    display: flex;
}

.nav li {
    list-style: none;
    margin-left: 70px;
    color: #424242;
    font-size: 1.8rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
}

.banner-content {
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 80px;
}

.text-light-gray {
    max-width: 864px;
    margin: 0px auto;
    color: #727272;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 30px;
}

.primary-btn {
    margin-top: 20px;
    width: 150px;
    height: 45px;
    font-size: 1.1rem;
    border-radius: 8px;
    background: #FF900E;
    border: none;
}

.banner-img {
    margin-top: 50px;
    width: 100%;
    border-radius: 8px;
}

main {
    max-width: 1340px;
    margin: 0px auto;
}

.feature-container {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.feature-content {
    padding: 0px 70px;
}

.feature-title{
    font-size: 2.9rem;
    font-weight: 700;
}

.feature-title .quick {
    color: #727272;
    font-weight: 500;
}

.feature-title .our {
    color: #131313;
}
.feature-title .feature{
    color: #FF900E;
}

.feature-description{
    margin-top: -25px;
    text-align: left;
    margin-bottom: 10px;
}


.feature-image-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-left: 1rem;
}





@media screen and (max-width: 576px) {
    .header {
        padding: 0px 0px;
        height: 830px;
    }
    .nav {
        flex-direction: column;
    }
    .nav>ul {
        margin-top: 30px;
        margin-right: 70px;
    }
    .nav li {
        margin-left: 25px;
        font-size: 1.2rem;
    }
    .banner-title {
        font-size: 2.7rem;
        margin-top: 30px;
    }
    .feature-container {
        margin-top: 10px;
        flex-direction: column-reverse;
    }
    .feature-image-section {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.71rem;
        margin-left: 0rem;
        margin-top: 1.9rem;
    }
    .feature-content {
        padding: 0px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feature-title{
        text-align: center;
        font-size: 1.8rem;
    }
    .feature-description{
        text-align: center;
    }
}




@media screen and (min-width: 577px) and (max-width:990px) {
    .header {
        padding: 10px 10px;
        height: 1100px;
    }
    .nav {
        flex-direction: column;
        margin-top: 20px;
    }
    .nav li {
        margin-left: 20px;
        padding-right: 25px;
        font-size: 1.8rem;
        font-weight: 500;
    }
    .feature-container {
        flex-direction: column-reverse;
        margin-top: -10px;
    }
    .feature-content {
        padding: 0px 55px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .feature-description{
        text-align: center;
        padding: 0px 30px;
    }
    .feature-image-section{
        margin-top: 2.3rem;
    }
    .feature-title{
        font-size: 2.2rem;
        font-weight: 700;
    }
}


@media screen and (min-width: 991px) and (max-width:1435px) {
    .header {
        padding: 10px 10px;
        height: 1290px;
    }
    .feature-container {
        display: flex;
        align-items: center;
        margin-top: 60px;
    }



}